@import '../../assets/scss/variables.scss';
.heading-wrapper {
    .heading {
        padding: 50px 0 0px;
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        h3 {
            color: #212020;
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px 0;
            font-weight: bold;
            margin: 0;
        }
        h2 {
            font-size: 25px;
            color: $mainOrange;
            margin: 0;
            line-height: 29px;
            display: inline-block;
            float: left;
            padding-bottom: 15px;
        }
        .facility {
            margin: 0;
            padding: 0;
            float: right;
            li {
                padding: 0 9px;
                list-style: none;
                float: left;
                display: inline-block;
                font-size: 12px;
                color: #858585;
                text-transform: capitalize;
            }
        }
        &::before {
            content: "";
            width: 40px;
            height: 3px;
            border-radius: 3px;
            position: absolute;
            top: calc(100% + 5px);
            left: 0;
            background-color: #cacaca;
            z-index: 1;
        }
        &::after {
            content: "";
            left: 0;
            top: 100%;
            z-index: 1;
            width: 60px;
            height: 3px;
            position: absolute;
            border-radius: 3px;
            background-color: #cacaca;
        }
    }
}

.detail-wrapper {
    .property-image {
        img {
            width: 100%;
        }
    }
    .property-post {
        width: 100%;
        float: left;
        border-top: 0px;
        padding: 0 30px 30px;
        background-color: #fff;
        border: 1px solid #eeeeee;
        .property__post-detail {
            h5 {
                font-size: 15px;
                padding: 20px 0;
                color: #2a2d3c;
                font-weight: 900;
                margin: 0 0 20px;
                position: relative;
                text-transform: uppercase;
                &::after {
                    content: "";
                    left: 0;
                    top: 100%;
                    width: 35px;
                    height: 2px;
                    position: absolute;
                    background-color: #b4b4b4;
                }
            }
        }
    }
}