@import '../../../assets/scss/variables';
.advert {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    &:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
    }
    .advert__image {
        float: left;
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
        .tag_sale {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 70px;
            text-align: center;
            color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            overflow: hidden;
            z-index: 1;
            line-height: 32px;
            height: 30px;
            padding: 0 0 0 10px;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $mainOrange;
                position: absolute;
                top: 0;
                right: -13%;
                border-radius: 0px 0px 0px 10px;
                z-index: -1;
            }
        }
        .tag_price {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            color: #fff;
            font-family: 'Hind', sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            overflow: hidden;
            z-index: 1;
            line-height: 33px;
            height: 30px;
            padding: 0 26px 0 14px;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #0074e4;
                position: absolute;
                top: 0;
                left: -13%;
                border-radius: 0px 10px 0px 0px;
                z-index: -1;
            }
        }
    }
    .advert__detail {
        float: left;
        width: 100%;
        border-top: 0px;
        text-align: left;
        transition: all 0.3s ease-in-out;
        h5 {
            font-size: 15px;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0 0;
            font-weight: 800;
            margin: 0 0 18px;
            position: relative;
            display: block;
            letter-spacing: 1px;
            color: $charcoal;
            &::after {
                background-color: #0074e4;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            display: block;
            padding: 15px 5px;
            border-top: 2px solid #eeeeee;
            float: left;
            width: 100%;
            li {
                padding: 0 9px;
                list-style: none;
                //float: left;
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                color: $charcoal;
                text-transform: capitalize;
                span {
                    margin-right: 3px;
                }
            }
        }
    }
}

.property_detail ul li i:before {
    font-size: 12px;
    padding-right: 6px;
    margin: 0;
    color: $mainOrange;
}